# unit test output
coverage.out

# config files
etc/config/config.json
samconfig.toml

# SAM-generated resources
.aws-sam/

# stored documents files
etc/data/documents.jsonl
etc/data/document.json

# stored summaries files
etc/data/summaries.json
etc/data/summary.json

# exported data files
etc/data/summaries_table.json
etc/data/questions_table.json

# random resources
etc/storage/

# NodeJS outputs
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
