# unit test output
coverage.out

# config files
etc/config/config.json
samconfig.toml

# SAM-generated resources
.aws-sam/

# stored answers files
answers.jsonl
answer.json

# stored summaries files
summaries.json
summary.json

# exported data files
summaries_export.json
questions_export.json