# unit test output
coverage.out

# config files
etc/config/config.json
samconfig.toml

# SAM-generated resources
.aws-sam/

# stored documents files
documents.jsonl
document.json

# stored summaries files
summaries.json
summary.json

# exported data files
summaries_table.json
questions_table.json

# random resources
etc/storage